In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from ast import literal_eval
#!pip install pandas pyarrow
import pyarrow

import glob

import pyarrow.parquet as pq
movies = pq.read_table(source="../data/interim/df_cleaned_v1.gzip").to_pandas()
movies

,adult,id,original_title,popularity,video,url,poster_url,genre_id,poster_exists,genre_ids2,genre_id_count
380003,False,537250,¿Por qué ya no me quieres?,1.400,False,https://www.themoviedb.org/movie/537250,https://www.themoviedb.org/t/p/w500//8Y0aOxqSe...,"[80, 18]",True,"[Crime,Drama]",2
380010,False,537266,Success,0.600,False,https://www.themoviedb.org/movie/537266,https://www.themoviedb.org/t/p/w500//tJMm1JJUe...,[18],True,[Drama],1
380017,False,537274,Предел возможного,0.620,False,https://www.themoviedb.org/movie/537274,https://www.themoviedb.org/t/p/w500//h9aXCUZ6g...,[18],True,[Drama],1
380020,False,537277,母親,0.600,False,https://www.themoviedb.org/movie/537277,https://www.themoviedb.org/t/p/w500//3Ogn8SWj2...,[18],True,[Drama],1
380022,False,537281,1+1=3 Ora Tinjon,0.600,False,https://www.themoviedb.org/movie/537281,https://www.themoviedb.org/t/p/w500//47yYJPL2q...,[18],True,[Drama],1
...,...,...,...,...,...,...,...,...,...,...,...
19993,False,31788,"Bill Hicks Live: Satirist, Social Critic, Stan...",5.355,False,https://www.themoviedb.org/movie/31788,https://www.themoviedb.org/t/p/w500//lz2poVfHS...,[35],True,[Comedy],1
19994,False,31789,Pédale douce,6.775,False,https://www.themoviedb.org/movie/31789,https://www.themoviedb.org/t/p/w500//xYFrGGsmK...,[35],True,[Comedy],1
19995,False,31791,Opeth: The Roundhouse Tapes,5.698,True,https://www.themoviedb.org/movie/31791,https://www.themoviedb.org/t/p/w500//YaCzP9wPJ...,[10402],True,[Music],1
19996,False,31792,Ozzy Osbourne: Bark at the Moon,3.115,False,https://www.themoviedb.org/movie/31792,https://www.themoviedb.org/t/p/w500//vG0QdyICu...,[10402],True,[Music],1
19999,False,31795,Sarah Brightman: Diva,2.923,False,https://www.themoviedb.org/movie/31795,https://www.themoviedb.org/t/p/w500//nURFkGVZ0...,[10402],True,[Music],1

In [2]:
movies.genre_id.value_counts(ascending=True)

[28, 18, 53, 80, 9648]              1
[80, 10751, 12, 35]                 1
[28, 16, 80, 18, 10749, 878]        1
[18, 12, 10749, 36]                 1
[12, 27, 28, 36]                    1
                                ...
[27]                             7913
[10402]                         10305
[35]                            27139
[18]                            41802
[99]                            41926
Name: genre_id, Length: 9142, dtype: int64

In [3]:
from sklearn.model_selection import train_test_split

y= movies.genre_id
traincomple, test= train_test_split(movies , test_size=0.20, random_state=42, shuffle=True)

In [4]:
traincomple.shape

(225232, 11)

In [5]:
test.shape

(56309, 11)

In [6]:

#Train complete again splitted for validatopn propose 60 train 20 validation 20 test 

train_, val= train_test_split(traincomple , test_size=0.20, random_state=42, shuffle=True)

In [7]:
train_.shape

(180185, 11)

In [8]:
val.shape

(45047, 11)

In [9]:

from ast import literal_eval

#train_.genre_ids2=train_.genre_ids2.apply(literal_eval)

def testme(x):
    tmp="".join(x).replace("'", "")
   # print([y for y in tmp.split(",")])
    return [y for y in tmp.split(",")]
  
   

train_.genre_ids2=train_.genre_ids2.apply(testme)

/Users/cenriquez/opt/anaconda3/envs/aida_pro/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
train_.head(5)

,adult,id,original_title,popularity,video,url,poster_url,genre_id,poster_exists,genre_ids2,genre_id_count
384117,False,542566,Bambaşka: Başka Bir Aşk Hikayesi,0.600,False,https://www.themoviedb.org/movie/542566,https://www.themoviedb.org/t/p/w500//6QxlnrKak...,[10749],True,[Romance],1
352937,False,504761,Trekking the Great Wall,2.845,False,https://www.themoviedb.org/movie/504761,https://www.themoviedb.org/t/p/w500//3KB8N5kk7...,[99],True,[Documentary],1
362443,False,515959,Anna & the Asteroid,0.603,False,https://www.themoviedb.org/movie/515959,https://www.themoviedb.org/t/p/w500//3A91CmXCg...,"[18, 878]",True,"[Drama, Science Fiction]",2
72518,False,107414,Foolin' Around,0.775,False,https://www.themoviedb.org/movie/107414,https://www.themoviedb.org/t/p/w500//zCItqBggj...,"[35, 10749]",True,"[Comedy, Romance]",2
156948,False,267196,Clara Immerwahr,1.400,False,https://www.themoviedb.org/movie/267196,https://www.themoviedb.org/t/p/w500//uq64pQJUu...,"[18, 36]",True,"[Drama, History]",2

In [11]:
def get_path_colab(x):

 filename_=x.rsplit('/', 1)[-1]
 return  filename_
train_['path_image']=train_['poster_url'].apply(lambda x: get_path_colab(x))



train_explode=train_.explode('genre_ids2')
train_explode.shape

<ipython-input-11-c51bf1552f9f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_['path_image']=train_['poster_url'].apply(lambda x: get_path_colab(x))

(298910, 12)

In [12]:
from sklearn.preprocessing import OneHotEncoder
ohe= OneHotEncoder(sparse=False, handle_unknown="ignore").fit(train_explode[['genre_ids2']])
ohe_class=pd.DataFrame(ohe.transform(train_explode[['genre_ids2']]),columns=ohe.get_feature_names())
train_explode.reset_index(drop=True, inplace=True)
movies_class = pd.concat([train_explode, ohe_class], axis=1)
movies_class.columns

Index(['adult', 'id', 'original_title', 'popularity', 'video', 'url',
       'poster_url', 'genre_id', 'poster_exists', 'genre_ids2',
       'genre_id_count', 'path_image', 'x0_Action', 'x0_Adventure',
       'x0_Animation', 'x0_Comedy', 'x0_Crime', 'x0_Documentary', 'x0_Drama',
       'x0_Family', 'x0_Fantasy', 'x0_History', 'x0_Horror', 'x0_Music',
       'x0_Mystery', 'x0_Romance', 'x0_Science Fiction', 'x0_TV Movie',
       'x0_Thriller', 'x0_War', 'x0_Western'],
      dtype='object')

In [13]:
#movies_class.isnull().sum()

In [14]:
genre_col=['x0_Action', 'x0_Adventure',
       'x0_Animation', 'x0_Comedy', 'x0_Crime', 'x0_Documentary', 'x0_Drama',
       'x0_Family', 'x0_Fantasy', 'x0_History', 'x0_Horror', 'x0_Music',
       'x0_Mystery', 'x0_Romance', 'x0_Science Fiction', 'x0_TV Movie',
       'x0_Thriller', 'x0_War', 'x0_Western' ]
b1=movies_class[['id']+genre_col].groupby("id").sum().reset_index()
b1.head(5)

,id,x0_Action,x0_Adventure,x0_Animation,x0_Comedy,x0_Crime,x0_Documentary,x0_Drama,x0_Family,x0_Fantasy,x0_History,x0_Horror,x0_Music,x0_Mystery,x0_Romance,x0_Science Fiction,x0_TV Movie,x0_Thriller,x0_War,x0_Western
0,2,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,8,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,11,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [15]:
b2=pd.merge(train_, b1 ,on="id")
b2.shape
#180185

(180185, 31)

In [16]:
b2.columns

Index(['adult', 'id', 'original_title', 'popularity', 'video', 'url',
       'poster_url', 'genre_id', 'poster_exists', 'genre_ids2',
       'genre_id_count', 'path_image', 'x0_Action', 'x0_Adventure',
       'x0_Animation', 'x0_Comedy', 'x0_Crime', 'x0_Documentary', 'x0_Drama',
       'x0_Family', 'x0_Fantasy', 'x0_History', 'x0_Horror', 'x0_Music',
       'x0_Mystery', 'x0_Romance', 'x0_Science Fiction', 'x0_TV Movie',
       'x0_Thriller', 'x0_War', 'x0_Western'],
      dtype='object')

In [17]:
################### test###################

test.genre_ids2=test.genre_ids2.apply(testme)

test['path_image']=test['poster_url'].apply(lambda x: get_path_colab(x))

test_explode=test.explode('genre_ids2')
ohe= OneHotEncoder(sparse=False, handle_unknown="ignore").fit(test_explode[['genre_ids2']])
ohe_class=pd.DataFrame(ohe.transform(test_explode[['genre_ids2']]),columns=ohe.get_feature_names())
test_explode.reset_index(drop=True, inplace=True)
movies_class_test = pd.concat([test_explode, ohe_class], axis=1)
movies_class_test

b1_test=movies_class_test[['id']+genre_col].groupby("id").sum().reset_index()
b2_test=pd.merge(test, b1_test ,on="id")
b2_test.shape
#56309

/Users/cenriquez/opt/anaconda3/envs/aida_pro/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-17-a119c2bd0001>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['path_image']=test['poster_url'].apply(lambda x: get_path_colab(x))

(56309, 31)

In [18]:
b2_test

,adult,id,original_title,popularity,video,url,poster_url,genre_id,poster_exists,genre_ids2,...,x0_History,x0_Horror,x0_Music,x0_Mystery,x0_Romance,x0_Science Fiction,x0_TV Movie,x0_Thriller,x0_War,x0_Western
0,False,101441,Eric van Sauers: De Ware Liefde,1.376,False,https://www.themoviedb.org/movie/101441,https://www.themoviedb.org/t/p/w500//pybt3y2pw...,[35],True,[Comedy],...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,False,404255,Murder in Greenwich Village,0.600,False,None,https://www.themoviedb.org/t/p/w500//la4XQjT5O...,"[9648, 10749, 35]",True,"[Mystery, Romance, Comedy]",...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
2,False,498154,懲役太郎 まむしの兄弟,1.090,False,https://www.themoviedb.org/movie/498154,https://www.themoviedb.org/t/p/w500//ArlNbUFYk...,"[35, 28]",True,"[Comedy, Action]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,False,48895,시실리 2km,2.390,False,https://www.themoviedb.org/movie/48895,https://www.themoviedb.org/t/p/w500//djl6k3Qki...,"[35, 27]",True,"[Comedy, Horror]",...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,False,153374,La Colt era il suo Dio,0.600,False,https://www.themoviedb.org/movie/153374,https://www.themoviedb.org/t/p/w500//e5cs61Tmy...,[37],True,[Western],...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56304,False,253371,Os Cosmonautas,0.600,False,https://www.themoviedb.org/movie/253371,https://www.themoviedb.org/t/p/w500//jHeAb6vJP...,"[35, 878]",True,"[Comedy, Science Fiction]",...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
56305,False,34152,Crooklyn,9.356,False,https://www.themoviedb.org/movie/34152,https://www.themoviedb.org/t/p/w500//iFqe07F78...,"[35, 18]",True,"[Comedy, Drama]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56306,False,502904,China Gold Rush,0.600,False,https://www.themoviedb.org/movie/502904,https://www.themoviedb.org/t/p/w500//3HjSVVHXZ...,[99],True,[Documentary],...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56307,False,416438,Electric Blue 19,0.957,True,None,https://www.themoviedb.org/t/p/w500//h7BC1ZPMY...,[99],True,[Documentary],...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
56308,False,508459,My African Diary,0.600,False,https://www.themoviedb.org/movie/508459,https://www.themoviedb.org/t/p/w500//aZ0p0sZWm...,"[18, 99]",True,"[Drama, Documentary]",...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [19]:
########Validation ########

################### test###################


val.genre_ids2=val.genre_ids2.apply(testme)

val['path_image']=val['poster_url'].apply(lambda x: get_path_colab(x))

val_explode=val.explode('genre_ids2')
ohe= OneHotEncoder(sparse=False, handle_unknown="ignore").fit(val_explode[['genre_ids2']])
ohe_class=pd.DataFrame(ohe.transform(val_explode[['genre_ids2']]),columns=ohe.get_feature_names())
val_explode.reset_index(drop=True, inplace=True)
movies_class_val = pd.concat([val_explode, ohe_class], axis=1)
movies_class_val

b1_val=movies_class_val[['id']+genre_col].groupby("id").sum().reset_index()
b2_val=pd.merge(val, b1_val ,on="id")
b2_val.shape

#45047

/Users/cenriquez/opt/anaconda3/envs/aida_pro/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-19-0c9027f5bc82>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['path_image']=val['poster_url'].apply(lambda x: get_path_colab(x))

(45047, 31)

In [ ]:
b2.to_parquet("../data/interim/df_train_v2.gzip", compression='gzip')
b2_test.to_parquet("../data/interim/df_test_v2.gzip", compression='gzip')
b2_val.to_parquet("../data/interim/df_val_v2.gzip", compression='gzip')